#e9Sm4U7fjlI1 .index0{
    animation: index0Animation 2s infinite;
    animation-direction: alternate;
  
}
#e9Sm4U7fjlI1 .index1{
    animation: index1Animation 2s infinite;
    animation-direction: alternate;
  
}
#e9Sm4U7fjlI1 .index2{
    animation: index2Animation 2s infinite;
    animation-direction: alternate;  
}

@keyframes index0Animation {
    0%   {opacity: 0.5;}
    25% {opacity: 1}
}

@keyframes index1Animation {
    0%   {opacity: 0.5;}
    25%   {opacity: 0.5;}
    50%   {opacity: 1;}
    100% {opacity: 1}
}

@keyframes index2Animation {
    0%   {opacity: 0.5;}
    25%   {opacity: 0.5;}
    50%   {opacity: 0.5;}
    75% {opacity: 1}
}