
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'infos_landing_list' %}">
    landing Listing
    </a>
</p>
    
<table class="table">
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>trainings</td><td>{{ object.trainings }}</td></tr>
    <tr><td>image_swipe2</td><td>{{ object.image_swipe2 }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>image_swipe3</td><td>{{ object.image_swipe3 }}</td></tr>
    <tr><td>citizens</td><td>{{ object.citizens }}</td></tr>
    <tr><td>image_background</td><td>{{ object.image_background }}</td></tr>
    <tr><td>image_swipe1</td><td>{{ object.image_swipe1 }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}