
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'contact_info_list' %}">
    info Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="title">title: </label>
      <input class="form-control col-sm-10"
         id="title" type="text"
         name="title" value="{{ object.title }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="helper">helper: </label>
      <input class="form-control col-sm-10"
         id="helper" type="text"
         name="helper" value="{{ object.helper }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="phone">phone: </label>
      <input class="form-control col-sm-10"
         id="phone" type="text"
         name="phone" value="{{ object.phone }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="email">email: </label>
      <input class="form-control col-sm-10"
         id="email" type="text"
         name="email" value="{{ object.email }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="address">address: </label>
      <input class="form-control col-sm-10"
         id="address" type="text"
         name="address" value="{{ object.address }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="lang_id">lang_id: </label>
      {{ form.lang_id }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}